<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>

<form name="explore_movie" method="get" action="/customer_explore_movie/movieInfo">
  Movie name:<br>
  <select name="movieName">
    <% for (var i = 0; i < movies.length; i++) { %>
      <option value=<%= movies[i] %>><%=movies[i] %></option>
    <% } %>
  </select>
  <br>
  Company Name:<br>
  <select name="companyName">
    <% for (var i = 0; i < companies.length; i++) { %>
      <option value=<%= companies[i] %>><%=companies[i] %></option>
    <% } %>
  </select>
  <br>
  City:<br>
  <input type="text" name="city"><br>
  State Name:<br>
  <select name="state">
    <% for (var i = 0; i < states.length; i++) { %>
      <option value=<%= states[i] %>><%=states[i] %></option>
    <% } %>
  </select>
  <br>
  Movie Play Date:<br>
  <input type="date" name="playStartDate">
  -
  <input type="date" name="playEndDate"><br>
  <button type="submit" class="btn btn-primary" value="Filter">Filter</button>
</form>

<%if (data.length > 0) { %>
  <table>

      <tr>
        <th>Movie</th>
        <th>Theater</th>
        <th>Address</th>
        <th>Company</th>
        <th>Play Date</th>

      </tr>
    <% for (var i = 0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].Name %></td>
      <td><%= data[i].Duration %></td>
      <td><%= data[i].ReleaseDate %></td>
      <td><%= data[i].Date %></td>
    </tr>
    <% } %>
  </table>
<% } %>

</body>
</html>
