<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>


<form name="customer_register" method="POST">

    First Name
    <input type="text" name="fName" id="fName" value="<%=fname%>">
    Last Name
    <input type="text" name="lName" id="lName" value="<%=lname%>"><br>
    <br>
    Username
    <input type="text" name="username" id="username" value="<%=username%>"><br>
    <br>
    Password
    <input type="password" name="password" id="password" value="<%=password%>">
    Confirm Password
    <input type="password" name="cpassword" id="cpassword" value="<%=cpassword%>"><br>

    <br>
    Credit Card#
    <br>

    <% for (var i = 0; i < data.length; i++) { %>
        <%= data[i] %>
        <button type="submit" class="btn btn-primary" name="select" value="remove<%=i%>" >Remove</button><br/>
    <% }; %>
    <!--<p> <%= data %> </p>-->
    <br>
    <textarea name="cardNumber" cols="25" rows="1"></textarea>
    <button type="submit" class="btn btn-primary" value="add" name="select">Add</button><br>
    <br>
    <button type="submit" class="btn btn-primary" value="register" name="select">Register</button><br>
    <br>



</form>


<form action="/nevigate" method="get">
    <button type="submit" class="btn btn-primary btn-lg">Back</button>
</form>

<%if (errors.length > 0) { %>
    <ul>
        <% for (var i = 0; i < errors.length; i++) { %>
        <li>
            <%=errors[i].msg%>
        </li>
        <% } %>
    </ul>
<% } %>

</body>
</html>