<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>

<form name="theater_overview" method="post">
  Manager name(will be removed with user login):<br>
  <input type="text" name="managerName"><br>
  Movie name:<br>
  <select name="movieName">
    <% for (var i = 0; i < movies.length; i++) { %>
        <option value=<%= movies[i]['Name'] %>><%=movies[i]['Name'] %></option>
    <% } %>
  </select>
  <br>

  Release Date<br>
  <input type="date" name="releaseDate"><br>
  Play Date:<br>
  <input type="date" name="playDate"><br>
  <button type="submit" class="btn btn-primary" value="Add">Add</button>
</form>

<%if (errors.length > 0) { %>
  <ul>
    <% for (var i = 0; i < errors.length; i++) { %>
      <li>
        <%=errors[i].msg%>
      </li>
    <% } %>
  </ul>
<% } %>

</body>
</html>
